body,a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor {
    width:1420px;
    padding:10px;
    box-sizing: border-box;

}
#navegador{
    /*flexbox h1 y nav(hijos)*/
    display:flex;
    align-items: center;
    justify-content:space-between;
}
nav a:nth-child(2){
    /*enlace 2  de (hijo) nav*/
    margin:0px;
    color:red;
}





ul{
   list-style: none;
   margin-left:10px;
   padding-left:10px;
}

ul,li{
    margin-bottom:15px;
}


